<!DOCTYPE html>
<html lang="en" ng-app="olyLift">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OlyLift</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="css/fonts.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="css/main.css" type="text/css" charset="utf-8"/>

    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="MainCtrl">
    <div class="container">
        <h1>OlyLift Admin</h1>

        <form class="form-inline" role="form" novalidate ng-submit="updateTimer()">
            <div class="form-group">
                <label for="timer" class="col-sm-2 control-label">Timer</label>

                <div class="col-sm-12">
                    <input type="text" class="form-control" id="timer" placeholder="Timer" ng-model="timer.time" ng-blur="updateTimer()">
                    <button type="button" class="btn btn-primary" ng-click="increment()">{{isPaused() ? 'Start' : 'Stop'}}</button>
                    <button type="button" class="btn btn-primary" ng-click="addTime(60)">1 min</button>
                    <button type="button" class="btn btn-primary" ng-click="addTime(120)">2 mins</button>
                    <button type="button" class="btn btn-primary" ng-click="addTime(180)">3 mins</button>
                    <button type="button" class="btn btn-primary" ng-click="addTime(240)">4 mins</button>
                </div>
            </div>
            <hr/>
        </form>
        <form class="form-horizontal" role="form" novalidate ng-submit="updateLift()">
            <div class="form-group">
                <label for="division" class="col-sm-2 control-label">Division</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="division" placeholder="Division"
                           ng-model="lift.division">
                </div>
            </div>
            <div class="form-group">
                <label for="movement" class="col-sm-2 control-label">Movement</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="movement" placeholder="Movement"
                           ng-model="lift.movement">
                </div>
            </div>
            <div class="form-group">
                <label for="weight" class="col-sm-2 control-label">Weight</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="weight" placeholder="Weight" ng-model="lift.weight">
                </div>
            </div>
            <div class="form-group">
                <label for="attempt" class="col-sm-2 control-label">Attempt</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="attempt" placeholder="Attempt" ng-model="lift.attempt">
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Judge One</label>

                <div class="col-sm-10">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-model="lift.judge01" btn-radio="'starting'">Starting</button>
                        <button type="button" class="btn btn-primary" ng-model="lift.judge01" btn-radio="'approved'">Approved</button>
                        <button type="button" class="btn btn-primary" ng-model="lift.judge01" btn-radio="'rejected'">Rejected</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Judge Two</label>

                <div class="col-sm-10">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-model="lift.judge02" btn-radio="'starting'">Starting</button>
                        <button type="button" class="btn btn-primary" ng-model="lift.judge02" btn-radio="'approved'">Approved</button>
                        <button type="button" class="btn btn-primary" ng-model="lift.judge02" btn-radio="'rejected'">Rejected</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Judge Three</label>

                <div class="col-sm-10">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-model="lift.judge03" btn-radio="'starting'">Starting</button>
                        <button type="button" class="btn btn-primary" ng-model="lift.judge03" btn-radio="'approved'">Approved</button>
                        <button type="button" class="btn btn-primary" ng-model="lift.judge03" btn-radio="'rejected'">Rejected</button>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label for="athlete" class="col-sm-2 control-label">Athlete</label>
                <div class="col-sm-10">
                    <input type="text" id="athlete" placeholder="Athlete" class="form-control"
                           ng-model="lift.athlete" typeahead="athlete as athlete.athlete for athlete in athletes | filter:$viewValue | limitTo:8">
                </div>
            </div>
            <div class="form-group">
                <label for="affiliate" class="col-sm-2 control-label">Affiliate</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="affiliate" placeholder="Affiliate"
                           ng-model="lift.affiliate">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Update</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.5/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.10.0.min.js"></script>

    <script src="js/app.js"></script>
</body>
</html>