<!DOCTYPE html>
<html lang="en" ng-app="olyLift">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OlyLift</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/fonts.css" type="text/css" charset="utf-8"/>
        <link rel="stylesheet" href="css/main.css" type="text/css" charset="utf-8"/>

        <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-cloak ng-controller="MainCtrl">
        <div id="board" class="container-fluid content">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="col-sm-7">
                        <h1>WEIGHT</h1>
                    
                        <h1 class="header-margin">{{convertLBStoKG(lift.weight)}} KGS</h1>
                    
                        <h1 class="header-margin">{{lift.weight}} LBS</h1>
                    </div>
                </div>
                <div class="col-sm-7 text-center">
                    <h1 class="huge header-line-height">{{getRemainingMinutes(timer.time)}}&#58;{{getRemainingSeconds(timer.time)}}</h1>

                    <h3 class="gold header-margin">ATTEMPT {{lift.attempt}}</h3>

                    <h3 class="header-margin header-line-height">{{lift.movement}}</h3>
                </div>
            </div>
            <div id="bottom-row" class="row">
                <div id="judges" class="col-sm-6 text-center">
                    <div class="col-sm-4">
                        <img ng-if="lift.judge01" src="images/judge-approve.svg">
                        <img ng-if="!lift.judge01" src="images/judge-reject.svg">
                        <h4>JUDGE 1</h4>
                    </div>
                    <div class="col-sm-4">
                        <img ng-if="lift.judge02" src="images/judge-approve.svg">
                        <img ng-if="!lift.judge02" src="images/judge-reject.svg">
                        <h4>JUDGE 2</h4>
                    </div>
                    <div class="col-sm-4">
                        <img ng-if="lift.judge03" src="images/judge-approve.svg">
                        <img ng-if="!lift.judge03" src="images/judge-reject.svg">
                        <h4>JUDGE 3</h4>
                    </div>
                </div>
                <div id="contestant" class="col-sm-6">
                    <div class="col-sm-6 text-center pull-right">
                        <h5>{{lift.athlete}}</h5>
                        <h5 class="gold">{{lift.division}}</h5>
                        <h5>{{lift.affiliate}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/1.0.5/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.js"></script>
        <script src="libs/ui-bootstrap-tpls-0.10.0.min.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>